* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar-div {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-toggler {
  border: none;
  font-size: 1.25rem;
  cursor: pointer;
}

.navbar-toggler:focus {
  box-shadow: none;
  outline: none;
}
.navbar-toggler:focus .btn-close:focus {
  box-shadow: none;
  outline: none;
}

.nav-link:hover,
.nav-link:active {
  color: #000;
}
.search-icon {
  cursor: pointer;
}
.logo {
  cursor: pointer;
}
svg {
  cursor: pointer;
}
.nav-form {
  display: flex;
}
.nav-form input {
  width: 420px;
}

.p-span {
  color: #00339b;
}

.nav-link {
  font-size: 16px;
  padding: 0.1rem;
}
.home-icon {
  display: flex;
  gap: 14px;
}
.enquiries-div {
  font-size: 16px;
  margin-top: 3rem;
  /* padding: 0; */
}
.contact-info {
  margin-top: 0.5rem;
}

.contact-info p {
  font-weight: bold;
}
.call-div {
  margin-top: -0.8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#email-span {
  margin-top: 0.3rem;
}

.right-icons {
  display: flex;
  align-content: center;
  justify-items: center;
  padding: 1rem;
  gap: 12px;
  /* background-color: red; */
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-x: hidden;
  margin-top: 6rem;
}
.main-paragraph {
  padding-right: 1rem;
  padding-left: 1.5rem;
  font-size: 2.2rem;
}

.ellipse-div {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100%;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 16px;
}

.ellipse-div > div {
  display: grid;
  /* flex-direction: column; */
}

.face {
  margin-left: 10px;
}
.Bath {
  margin-left: -5px;
}
.asian {
  margin-left: -14px;
}

.line {
  border: 2px solid black;
  width: 90%;
  height: 100%;
  text-align: center;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  margin-bottom: 2rem;
  margin-top: -1px;
}

.filter {
  background-color: blue;
}

/* .recommend-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  gap: 20px;
} */

.product-div-item {
  /* background-color: red; */
  margin: 0 auto;
  width: 220px;
  line-height: 0;
  text-align: left;
  display: grid;
  place-items: left;
  padding: 10px;
}
.product-div-item img {
  width: 95.101px;
  height: 54.26px;
  margin-left: 10px;
}
.product-div-item-list {
  margin-top: 15px;
}
.product-div-item .like {
  position: relative;
  top: -3.8rem;
  left: 8.3rem;
}
.product-div-item .rating {
  margin-left: 10px;
}

.product-div-item-list .product-title {
  color: #000;
  font-family: Lora;
  font-size: 14px;
  font-weight: bold;
}
.product-div-item-list .product-desc {
  font-family: Lora;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}
.product-div-item-list .product-price {
  font-family: Lora;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
}
.product-div-item-list .product-price > span {
  font-family: Lora;
  font-size: 12px;
  color: red;
}

footer {
  width: 100%;
  height: 250px;
  background: #fffade;
  margin: 0;
  text-align: center;
}

.footer-div-items {
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  gap: 5px;
}

.footer-div-items-left {
  display: grid;
  place-items: start;
  line-height: 10px;
  width: 100%;
  height: 100%;
  /* background-color: red; */
}
.footer-div-items-center {
  display: grid;
  place-items: center;
  line-height: 10px;
  width: 100%;
  height: 100%;
  /* background-color: pink; */
}
.footer-div-items-right {
  display: grid;
  place-items: start;
  line-height: 10px;
  width: 100%;
  height: 100%;
  /* background-color: yellow; */
}

/* MEDIA QUERY */
@media (max-width: 576px) {
  .account-span {
    display: none;
  }
  .nav-form {
    display: none;
  }
  .Tab-Nav {
    display: none;
  }
  footer img {
    margin-right: 1rem;
  }
  .inner-nav-outline-div {
    background-color: #fff;
    width: 100%;
  }
  .contact-us-footer {
    display: none;
  }
  .socials-right {
    display: none;
  }
}

@media (min-width: 992px) {
  main {
    margin-top: 9rem;
  }
  .search-icon {
    display: none;
  }
  .navbar-nav {
    display: none;
  }
  .enquiries-div {
    display: none;
  }
  .inner-nav-outline-div {
    background-color: #fff;
    width: 90%;
    border: 1px solid black;
    border-top: 0;
    padding-left: 14px;
    padding-right: 14px;
    top: 0;
  }
  .nav-form {
    display: flex;
  }
  .Tab-Nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
  .line {
    text-align: center;
    width: 26%;
  }

  .product-div-item img {
    width: 175.409px;
    height: 100.08px;
  }
  .product-div-item .like {
    position: relative;
    left: 11.5rem;
    top: -6rem;
  }
  .ellipse-div {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    width: 100%;
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .product-div-item .rating {
    margin-left: 55px;
  }
  .footer-div-items {
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
    gap: 10rem;
    margin-left: 5rem;
    margin-right: 5rem;
  }
  .footer-div-items-left {
    margin-left: 5rem;
    /* background-color: red; */
  }
  footer img {
    margin-left: -6rem;
  }
  .footer-div-items-center {
    display: grid;
    place-items: start;
    line-height: 10px;
    width: 100%;
    height: 100%;
    /* background-color: pink; */
  }
  .socials-center {
    display: none;
  }
}
