* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar-toggler {
  border: none;
  font-size: 1.25rem;
  cursor: pointer;
}

.navbar-toggler:focus {
  box-shadow: none;
  outline: none;
}
.navbar-toggler:focus .btn-close:focus {
  box-shadow: none;
  outline: none;
}

.nav-link:hover,
.nav-link:active {
  color: #000;
}
.search-icon {
  cursor: pointer;
}
.logo {
  cursor: pointer;
}
svg {
  cursor: pointer;
}
.main-form {
  display: flex;
}
/* MEDIA QUERY */
@media (max-width: 576px) {
  .account-span {
    display: none;
  }
  .main-form {
    display: none;
  }
}

@media (min-width: 992px) {
  body {
    margin-inline: 4rem;
  }
  .search-icon {
    display: none;
  }
  .navbar-nav {
    display: none;
  }
  .enquiries-div {
    display: none;
  }
}
